Advanced Wrapping Counter
advanced_wrapping_counter
-> clock           minimum ->
-> resetn          maximum ->
-> decrement     underflow ->
-> increment      overflow ->
=> load_count        count =>
-> load_enable