Gray Advanced Wrapping Counter
gray_advanced_wrapping_counter
-----------------> clock              minimum ----------------->
-----------------> resetn             maximum ----------------->
-----------------> decrement        underflow ----------------->
-----------------> increment         overflow ----------------->
==[log₂(RANGE)]==> load_count      count_gray ==[log₂(RANGE)]==>
-----------------> load_enable   count_binary ==[log₂(RANGE)]==>