Out-of-Order Buffer Controller
out_of_order_buffer_controller
-> clock
-> resetn
-> write_enable   read_enable <-
                   read_clear <-
=> write_data       read_data =>
<= write_index     read_index <=
<- full                 empty ->
          memory_write_enable ->
           memory_read_enable ->
               memory_address =>
            memory_write_data =>
             memory_read_data <=