Hamming Block Corrector
hamming_block_corrector
==[DATA_WIDTH+PARITY_WIDTH]==> block            corrected_block =====[DATA_WIDTH+PARITY_WIDTH]=====>
                                       corrected_error_position ========[log₂(BLOCK_WIDTH)]========>
                                                          error ----------------------------------->