Tag Directory
tag_directory
-> clock
-> resetn
<- full              evict_enable <-
<- empty              evict_index <=
-> allocate_enable     search_hit ->
=> allocate_tag        search_tag <=
<= allocate_index    search_index =>