Tag Directory
tag_directory
-> clock
-> resetn
-> allocate_enable   search_hit ->
=> allocate_tag      search_tag <=
                   search_index =>
                   evict_enable <-
                    evict_index <=