Tag Directory
tag_directory
-> clock
-> resetn
<- full                     empty ->
-> allocate_enable     search_hit ->
=> allocate_tag        search_tag <=
<= allocate_index    search_index =>
                     evict_enable <-
                      evict_index <=