Reorder Buffer
reorder_buffer
-----------------> clock
-----------------> resetn
-----------------> reserve_enable
<==[log₂(DEPTH)]== reserve_index
-----------------> write_enable     read_enable <-----------
==[log₂(DEPTH)]==> write_index
=====[WIDTH]=====> write_data         read_data ==[WIDTH]==>
<----------------- reserve_full       data_full ----------->
<----------------- reserve_empty     data_empty ----------->