Static Priority Stream Arbiter
static_priority_stream_arbiter
=========[NUMBER_STREAMS]=========> upstream_valids       downstream_valid ------------------->
<========[NUMBER_STREAMS]========== upstream_readys       downstream_ready <-------------------
==[NUMBER_STREAMS×PAYLOAD_WIDTH]==> upstream_payloads   downstream_payload ==[PAYLOAD_WIDTH]==>