Gray Wrapping Counter
gray_wrapping_counter
-> clock              minimum ->
-> resetn             maximum ->
-> decrement        underflow ->
-> increment         overflow ->
=> load_count      count_gray =>
-> load_enable   count_binary =>