Simple Buffer
simple_buffer
-----------> clock
-----------> resetn
-----------> write_enable   read_enable <-----------
==[WIDTH]==> write_data       read_data ==[WIDTH]==>
<----------- full                 empty ----------->