Content-Addressable Memory
content_addressable_memory
-> clock
-> resetn
<- full                   empty ->
-> write_enable     read_enable <-
=> write_tag           read_tag <=
=> write_data         read_data =>
                       read_hit ->
                  delete_enable <-
                     delete_tag <=
                     delete_hit ->