Asynchronous simple Dual-Port RAM
asynchronous_simple_dual_port_ram
-> write_clock       read_clock <-
-> write_resetn     read_resetn <-
-> write_enable     read_enable <-
=> write_address   read_address <=
=> write_data         read_data =>