Probabilistic Saturating Counter
probabilistic_saturating_counter
-------------------------> clock
-------------------------> resetn
-------------------------> decrement
-------------------------> increment       count ==[log₂(RANGE)]==>
==[RANDOM_NUMBER_WIDTH]==> random_number