Reorder Buffer
reorder_buffer
-> clock
-> resetn
-> reservation_enable
<= reservation_index
<- reservation_error
-> write_enable         read_enable <-
=> write_index           read_valid ->
=> write_data             read_data =>
<- write_error           read_error ->
<- full                       empty ->
<- data_full             data_empty ->