Reorder Buffer
reorder_buffer
-> clock
-> resetn
-> reserve_enable
<= reserve_index
<- reserve_error
-> write_enable     read_enable <-
=> write_index       read_valid ->
=> write_data         read_data =>
<- write_error       read_error ->
<- full               data_full ->
<- empty             data_empty ->