FIFO Controller
fifo_controller
-> clock
-> resetn
<- full                         empty ->
-> write_enable           read_enable <-
=> write_data               read_data =>
                  memory_write_enable ->
                   memory_read_enable ->
                       memory_address =>
                    memory_write_data =>
                     memory_read_data <=