Dynamic Priority Arbiter
dynamic_priority_arbiter
-------------------------> clock
-------------------------> resetn
==========[SIZE]=========> requests     grant ==[SIZE]==>
==[SIZE×PRIORITY_WIDTH]==> priorities