Valid-Ready Out Of Order Buffer
valid_ready_out_of_order_buffer
-----------------> clock
-----------------> resetn
-----------------> write_valid   read_valid <-----------------
<----------------- write_ready   read_ready ----------------->
                                 read_clear <-----------------
=====[WIDTH]=====> write_data     read_data =====[WIDTH]=====>
<==[log₂(DEPTH)]== write_index   read_index <==[log₂(DEPTH)]==
<----------------- full               empty ----------------->