Extented Hamming Corrector
extended_hamming_corrector
===[DATA_WIDTH]===> data             corrected_data ======[DATA_WIDTH]=====>
==[PARITY_WIDTH]==> code   corrected_error_position ==[log₂(BLOCK_WIDTH)]==>
                                  correctable_error ----------------------->
                                uncorrectable_error ----------------------->