Extented Hamming Block Corrector
extended_hamming_block_corrector
=> block            corrected_block =>
           corrected_error_position =>
                  correctable_error ->
                uncorrectable_error ->