Extented Hamming Corrector
extended_hamming_corrector
=> data             corrected_data =>
=> code   corrected_error_position =>
                 correctable_error ->
               uncorrectable_error ->