Asynchronous True Dual-Port RAM
asynchronous_true_dual_port_ram
-> port_0_clock                 port_1_clock <-
-> port_0_write_enable   port_1_write_enable <-
-> port_0_read_enable     port_1_read_enable <-
=> port_0_address             port_1_address <=
=> port_0_write_data       port_1_write_data <=
<= port_0_read_data         port_1_read_data =>